<?xml version="1.0" encoding="utf-8"?>
<title>CdifitClient</title>
<icon>icon.png</icon>
<packageName>miao.byusi.client.cdifit</packageName>
<versionName>0.1.34</versionName>
<versionint>40</versionint>
<sdk>26</sdk>
<yuv>3</yuv>

<remark></remark>
<Permissions>android.permission.FLASHLIGHT
android.hardware.camera.autofocus
android.hardware.camera2
android.hardware.camera
android.permission.REQUEST_INSTALL_PACKAGES
android.permission.READ_EXTERNAL_STORAGE
android.permission.VIBRATE
android.permission.CAMERA
android.permission.WRITE_EXTERNAL_STORAGE
android.permission.INTERNET
android.permission.MOUNT_UNMOUNT_FILESYSTEMS</Permissions>
<createTime>2025-08-01 12:08:01</createTime>
<upTime>2025-08-01 12:08:01</upTime><manifest></manifest><application></application>